<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
	
	<!-- CONEXAO COM O BANCO DE DADOS LOCAL -->
	<!--
    <connectionStrings>
        <add name="Hotel_Sistema.Properties.Settings.hotelConnectionString" connectionString="server=localhost;user id=root;database=hotel" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
	-->

	<connectionStrings>
		<add name="Hotel_Sistema.Properties.Settings.hotelConnectionString" connectionString="server=mysql669.umbler.com;user id=willianshotel;database=hoteltestte; pwd=hotelwillians; port=41890;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>